apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: argocd-helm-cnpg-operator
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/matteodalgrande/k8s_argocd.git
    targetRevision: HEAD
    chart: cloudnative-pg
    targetRevision: 0.26.1
#    path: helm/cloudnative-pg-operator  # <-- source of true into the git repo
    helm:
      valueFiles:
        - helm/cloudnative-pg-operator/my-values-cnpg-operator.yaml
  destination:
    server: https://kubernetes.default.svc
    namespace: cnpg-system
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
    - CreateNamespace=true
