apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: argocd-helm-cnpg-operator
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/matteodalgrande/k8s_argocd.git
    targetRevision: HEAD
    path: helm/cloudnative-pg-operator  # <-- source of true into the git repo
    helm:
      valueFiles:
        - 
  destination:
    server: https://kubernetes.default.svc
    namespace: cnpg-system
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
    - CreateNamespace=true
    - ServerSideApply=true
